#banner {
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), #005aa7),
    url(../images/1.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(#005aa7)
    ),
    url(../images/1.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), #005aa7),
    url(../images/1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), #005aa7), url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
* {
  font-family: "Poppins", sans-serif;
  font-family: "Kaushan Script";
}
.logo {
  position: absolute;
  top: 20px;
  left: 5%;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
}
.fa-atom {
  font-size: 45px;
  color: #fff;
}
.fa-atom:hover {
  color: #005aa7;
}

#images {
  width: 100%;
}
.fazisi {
  font-size: 45px;
  margin-left: 10px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.banner-text {
  text-align: center;
  padding-top: 300px;
  color: #fff;
}
.banner-text h1 {
  font-size: 130px;
  font-family: "Kaushan Script";
}
.banner-text p {
  font-size: 20px;
  font-style: italic;
}
.banner-button {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-button a {
  width: 150px;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.banner-button a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: #005aa7;
  z-index: 2;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
nav ul li {
  margin: 50px 20px;
}
nav ul li a {
  color: #fff;
}

#menuBtn {
  width: 50px;
  height: 50px;
  background-color: #005aa7;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menuBtn img {
  width: 20px;
  margin-top: 15px;
}

/* section 1 ETIMOLOGY */

#etimology {
  width: 100%;
  padding: 70px 0;
}
.title-text {
  text-align: center;
  padding-bottom: 70px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #005aa7;
  font-weight: bold;
  position: relative;
  display: inline-block;
  z-index: 1;
  -webkit-animation: lieargr 10s infinite ease-in-out;
  animation: lieargr 10s infinite ease-in-out;
}
.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: -o-linear-gradient(#005aa7, #fff);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#005aa7),
    to(#fff)
  );
  background: linear-gradient(#005aa7, #fff);
  position: absolute;
  top: -20px;
  left: 0%;
  z-index: -1;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.title-text h1 {
  font-size: 50px;
  margin-top: 20px;
  font-weight: bold;
}

.title-text div {
  height: 2px;
  width: 200px;
  background-color: #005aa7;
  margin-top: 20px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}
.etimology-box {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.etimologys {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.etimologys p {
  font-size: 30px;
}
.img-box {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.etimology-img {
  width: 70%;
  height: 600px;
  background-image: url(../images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-left: 200px;
}

/* section2 */
.img-box2 {
  white-space: nowrap;
  overflow: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}
.img {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/2048.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.card1 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/6.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.card2 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/4.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.card3 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/5.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.card4 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/-1.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}

.card5 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/-3.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}

.card6 {
  width: 500px;
  height: 530px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background: url(../images/-5.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.contact-in {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px #666;
  box-shadow: 0px 0px 10px 0px #666;
}
.contact-map {
  width: 100%;
  height: auto;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}
.contact-form {
  width: 100%;
  height: auto;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  text-align: center;
  padding: 30px;
}
.contact-form h1 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #005aa7;
  color: #fff;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.contact-form-btn:hover {
  background: #fff;
  border: solid #005aa7;
  color: #005aa7;
}
.contact-form-textarea::-webkit-input-placeholder {
  color: #aaa;
}
.contact-form-textarea::-moz-placeholder {
  color: #aaa;
}
.contact-form-textarea:-ms-input-placeholder {
  color: #aaa;
}
.contact-form-textarea::-ms-input-placeholder {
  color: #aaa;
}
.contact-form-textarea::placeholder {
  color: #aaa;
}
.contact-form-textarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}

/* section3 */
.section3 {
  margin-top: 80px;
}
.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.about-col {
  -ms-flex-preferred-size: 28%;
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px 3px #005aa7;
  box-shadow: 0 10px 20px 3px #005aa7;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  background-color: #fff;
}

.about-col p {
  font-size: 18px;
}
.fa-network-wired {
  font-size: 25px;
  margin-bottom: 20px;
  color: #005aa7;
  border-radius: 3px;
}

.fa-leaf {
  font-size: 25px;
  border-radius: 3px;
  color: #005aa7;
  margin-bottom: 20px;
}
.fa-money-check-alt {
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 3px;
  color: #005aa7;
}
.marrginfooter {
  margin-top: 50px;
}

#footer {
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
}
.footer-row {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.foot-head {
  font-size: 30px;
  font-weight: bold;
}
.footer-left,
.footer-right {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-right {
  text-align: right;
}
.footer-row h1 {
  margin: 10px 0;
}
.footer-row p {
  line-height: 35px;
}
.footer-left .fa,
.footer-right .fab {
  font-size: 20px;
  margin: 10px;
  color: #005aa7;
}
.social-links {
  text-align: center;
}
.social-links .fab {
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #005aa7;
  margin: 40px 5px 0;
  color: #005aa7;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fa-copyright {
  margin-top: 25px;
  margin-right: 5px;
}
.social-links p {
  font-size: 14px;
}
.footer-img {
  max-width: 370px;
  width: 100%;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  width: 80%;
  background-color: rgb(235, 235, 235);
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 30px;
}
.containerin {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
  margin-top: 10px;
  background: #fff;
  width: 80%;
  max-height: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 10px 20px 3px #005aa7;
  box-shadow: 0 10px 20px 3px #005aa7;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.history-text {
  font-size: 23px;
  overflow-y: hidden;
}
/* section{
      background: linear-gradient(-45deg,rgba(0, 0, 0, 0.5), #EE7752, #E73C7E, #23A6D5, #23D5AB);
  } */
/* hover animations */

.banner-button a:hover span {
  width: 100%;
}
.banner-button a:hover {
  color: black;
}
.img:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.about-col:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.social-links .fab:hover {
  background: #005aa7;
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}
.containerin:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.fazisi:hover {
  color: #38a2ff;
}

/* sign up page */

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), #005aa7),
    url(../images/1.jpg);
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(#005aa7)
    ),
    url(../images/1.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), #005aa7),
    url(../images/1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), #005aa7), url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px;
}
.container-input {
  max-width: 700px;
  width: 100%;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
}
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container-input .title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}
.container-input .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #005aa7;
}
.container-input form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
form .user-details .input-box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}
.user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #005aa7;
}

form .gender-dt .gen-title {
  font-size: 20px;
  font-weight: 500;
}
form .gender-dt .kategoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 14px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.gender-dt .kategoria label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.gender-dt .kategoria .doti {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .kategoria label .one,
#dot-2:checked ~ .kategoria label .two,
#dot-3:checked ~ .kategoria label .three {
  border-color: #d9d9d9;
  background: #005aa7;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  background: -o-linear-gradient(315deg, #005aa7, #71b7e6);
  background: linear-gradient(135deg, #005aa7, #71b7e6);
  cursor: pointer;
}
form .button input:hover {
  background: -o-linear-gradient(225deg, #005aa7, #71b7e6);
  background: linear-gradient(-135deg, #005aa7, #71b7e6);
}
.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  color: #005aa7;
}
.back:hover {
  color: #38a2ff;
}
.fa-arrow-circle-left {
  margin-right: 5px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}